@import "tailwindcss";

@theme {
    --primary: "#3A7CA5",
    --secondary: "#F5F3EF",
    --accent: "#8B5E3C",
    --muted: "#6B7280",

    --sans: ["Inter", "sans-serif"],
    --serif: ["Playfair Display", "serif"],
}